
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.item--tKT {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-bottom: 29.1rem;
  width: 100%;
  align-items: center;

  .nav-AXs {
    width: 100%;
    height: 28.1rem;
    position: relative;
    border: solid 0.1rem #dadada;
    box-sizing: border-box;
    flex-shrink: 0;
    margin-bottom: 0.5rem;

    .item--tCy {
      display: flex;
      justify-content: center;
      font-family: NanumGothic, 'Source Sans Pro';
      width: 4.4rem;
      position: absolute;
      top: 12.6124rem;
      align-items: center;
      height: 3.1rem;
      left: 156.2333rem;
      font-size: 2.4rem;
      font-weight: 700;
      color: #76dcb0;
      white-space: nowrap;
      line-height: 1.2575;
    }
    .banner-utm {
      background-color: #ffffff;
      width: 192rem;
      height: 28.1rem;
      position: absolute;
      left: 0;
      top: 0;
    }
    .item--r3K {
      left: 126.25rem;
      top: 19.884rem;
      font-size: 2.4rem;
      line-height: 1.2575;
      color: #f59a12;
      height: 3.1rem;
      position: absolute;
      justify-content: center;
      align-items: center;
      white-space: nowrap;
      width: 5.8rem;
      display: flex;
      font-weight: 700;
      font-family: NanumGothic, 'Source Sans Pro';
    }
    .item--WtZ {
      top: 19.7716rem;
      justify-content: center;
      font-family: NanumGothic, 'Source Sans Pro';
      align-items: center;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.2575;
      width: 5.8rem;
      height: 3.1rem;
      position: absolute;
      display: flex;
      left: 107.9667rem;
      color: #666666;
      white-space: nowrap;
    }
    .item--o6y {
      white-space: nowrap;
      left: 89.5667rem;
      font-size: 2.4rem;
      color: #666666;
      width: 5.8rem;
      height: 3.1rem;
      position: absolute;
      line-height: 1.2575;
      font-family: NanumGothic, 'Source Sans Pro';
      top: 19.7716rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
    }
    .item--H29 {
      width: 4.4rem;
      top: 19.6592rem;
      display: flex;
      left: 74.45rem;
      font-size: 2.4rem;
      font-weight: 700;
      font-family: NanumGothic, 'Source Sans Pro';
      white-space: nowrap;
      height: 3.1rem;
      position: absolute;
      color: #666666;
      align-items: center;
      justify-content: center;
      line-height: 1.2575;
    }
    .item--x8H {
      align-items: center;
      font-size: 2.4rem;
      line-height: 1.2575;
      width: 5.8rem;
      position: absolute;
      white-space: nowrap;
      height: 3.1rem;
      left: 59rem;
      display: flex;
      justify-content: center;
      font-family: NanumGothic, 'Source Sans Pro';
      top: 19.6592rem;
      font-weight: 700;
      color: #666666;
    }
    .group-297-cTj {
      top: 5.6rem;
      width: 99.6082rem;
      height: 7.7rem;
      position: absolute;
      left: 47.4rem;

      .group-3-jYM {
        left: 0;
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 99.6082rem;
        height: 7.7rem;
        position: absolute;
      }
      .image-2-UF3 {
        object-fit: cover;
        vertical-align: top;
        width: 4.5rem;
        height: 4.5rem;
        position: absolute;
        left: 93.9287rem;
        top: 1.7986rem;
      }
    }
    .group-102-bKf {
      left: 7rem;
      top: 4.3rem;
      display: flex;
      align-items: center;
      width: 18.7rem;
      height: 9.7rem;
      position: absolute;

      .item-1-ubF {
        width: 9.6rem;
        height: 9.7rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .item--RZb {
        font-size: 5rem;
        font-weight: 800;
        font-family: NanumGothic, 'Source Sans Pro';
        white-space: nowrap;
        margin-top: 0.6rem;
        display: flex;
        line-height: 1.2575;
        color: #f59a12;
        flex-shrink: 0;
      }
    }
    .group-500-7hK {
      box-sizing: border-box;
      height: 4.8rem;
      position: absolute;
      left: 7rem;
      background-color: #ffffff;
      border: solid 1.6rem #000000;
      padding: 1rem 0.875rem;
      width: 6rem;
      top: 18.8rem;

      .group-3-Ri1 {
        width: 4.25rem;
        height: 2.8rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .rectangle-564-Y1w {
      position: absolute;
      left: 123.7rem;
      top: 27.8rem;
      background-color: #f59a12;
      width: 11rem;
      height: 0.3rem;
    }
    .avatar-4ky {
      position: absolute;
      left: 175.4rem;
      top: 5.9rem;
      object-fit: contain;
      vertical-align: top;
      border-radius: 5.3333rem;
      width: 8rem;
      height: 8rem;
    }
  }
  .auto-group-9127-yN9 {
    width: calc(100% - 0.7rem);
    height: 158.7rem;
    position: relative;
    flex-shrink: 0;
    margin: 0rem 0.5rem 0rem 0.2rem;

    .item--H7w {
      position: absolute;
      top: 0;
      overflow: hidden;
      background-color: #ffffff;
      box-sizing: border-box;
      width: 143.3rem;
      height: 158.7rem;
      left: 48rem;
      border: solid 0 #000000;

      .auto-group-j5i7-PRs {
        width: 135.0004rem;
        height: 156.8012rem;
        position: absolute;
        left: 5.1996rem;
        top: 28.7994rem;
        display: flex;
        align-items: flex-start;

        .auto-group-1uaf-hhT {
          margin: 9.901rem 6.299rem 0rem 0rem;
          box-sizing: border-box;
          row-gap: 7.9rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          padding: 8rem 0;
          width: 62.2011rem;
          align-items: center;
          border-bottom: solid 0.1rem #000000;
          border-top: solid 0.1rem #000000;

          .line-13-mhK {
            flex-shrink: 0;
            margin: 0rem 0.001rem 0rem 0rem;
            width: calc(100% - 0.0011rem);
            height: 0.1rem;
            background-color: #000000;
          }
          .line-9-skM {
            margin-right: 0.0004rem;
            width: calc(100% - 0.0004rem);
            height: 0.1rem;
            background-color: #000000;
            flex-shrink: 0;
          }
          .line-59-DJR {
            height: 0.1rem;
            background-color: #000000;
            flex-shrink: 0;
            margin-left: 0.0004rem;
            width: calc(100% - 0.0004rem);
          }
          .line-60-8RP {
            flex-shrink: 0;
            margin-left: 0.0004rem;
            width: calc(100% - 0.0004rem);
            height: 0.1rem;
            background-color: #000000;
          }
          .line-61-TiZ {
            background-color: #000000;
            flex-shrink: 0;
            margin-left: 0.0004rem;
            width: calc(100% - 0.0004rem);
            height: 0.1rem;
          }
          .line-62-1EH {
            background-color: #000000;
            flex-shrink: 0;
            margin-left: 0.0004rem;
            width: calc(100% - 0.0004rem);
            height: 0.1rem;
          }
          .line-65-Yk1 {
            flex-shrink: 0;
            margin-left: 0.0004rem;
            width: calc(100% - 0.0004rem);
            height: 0.1rem;
            background-color: #000000;
          }
          .line-67-6Wd {
            width: calc(100% - 0.0004rem);
            height: 0.1rem;
            background-color: #000000;
            flex-shrink: 0;
            margin-left: 0.0004rem;
          }
          .line-71-pSd {
            margin-left: 0.0004rem;
            width: calc(100% - 0.0004rem);
            height: 0.1rem;
            background-color: #000000;
            flex-shrink: 0;
          }
          .line-72-Z9K {
            margin-left: 0.0004rem;
            width: calc(100% - 0.0004rem);
            height: 0.1rem;
            background-color: #000000;
            flex-shrink: 0;
          }
          .line-73-Hr1 {
            margin-left: 0.0004rem;
            width: calc(100% - 0.0004rem);
            height: 0.1rem;
            background-color: #000000;
            flex-shrink: 0;
          }
          .line-74-q6q {
            width: calc(100% - 0.0004rem);
            height: 0.1rem;
            background-color: #000000;
            flex-shrink: 0;
            margin-left: 0.0004rem;
          }
        }
        .line-49-L3b {
          height: 156.8012rem;
          background-color: #000000;
          flex-shrink: 0;
          margin-right: 4.2rem;
          width: 0.1rem;
        }
        .auto-group-ddzf-4VP {
          flex-shrink: 0;
          row-gap: 7.9rem;
          align-items: center;
          padding-top: 8rem;
          width: 62.2rem;
          display: flex;
          flex-direction: column;
          border-top: solid 0.1rem #000000;
          margin-top: 10.2006rem;
          box-sizing: border-box;

          .line-52-9mj {
            width: 100%;
            height: 0.1rem;
            background-color: #000000;
            flex-shrink: 0;
          }
          .line-53-tjK {
            height: 0.1rem;
            background-color: #000000;
            flex-shrink: 0;
            width: 100%;
          }
          .line-54-T1j {
            width: 100%;
            height: 0.1rem;
            background-color: #000000;
            flex-shrink: 0;
          }
          .line-55-zXT {
            background-color: #000000;
            flex-shrink: 0;
            width: 100%;
            height: 0.1rem;
          }
          .line-56-9fF {
            width: 100%;
            height: 0.1rem;
            background-color: #000000;
            flex-shrink: 0;
          }
          .line-57-J2M {
            height: 0.1rem;
            background-color: #000000;
            flex-shrink: 0;
            width: 100%;
          }
          .line-58-qny {
            flex-shrink: 0;
            width: 100%;
            height: 0.1rem;
            background-color: #000000;
          }
          .line-63-akZ {
            width: 100%;
            height: 0.1rem;
            background-color: #000000;
            flex-shrink: 0;
          }
          .line-64-jNZ {
            width: 100%;
            height: 0.1rem;
            background-color: #000000;
            flex-shrink: 0;
          }
          .line-66-Ub3 {
            width: 100%;
            height: 0.1rem;
            background-color: #000000;
            flex-shrink: 0;
          }
          .line-68-EaD {
            background-color: #000000;
            flex-shrink: 0;
            width: 100%;
            height: 0.1rem;
          }
          .line-69-ynh {
            width: 100%;
            height: 0.1rem;
            background-color: #000000;
            flex-shrink: 0;
          }
          .auto-group-trxq-jWy {
            height: 0.1rem;
            border-top: solid 0.1rem #000000;
            box-sizing: border-box;
            flex-shrink: 0;
            width: 100%;
          }
        }
      }
      .auto-group-qqtz-dsF {
        display: flex;
        align-items: center;
        width: 89.2rem;
        height: 6.3rem;
        position: absolute;
        left: 23.8rem;
        top: 14.35rem;

        .item--N49 {
          margin-right: 53rem;
          display: flex;
          line-height: 1.2575;
          font-family: NanumGothic, 'Source Sans Pro';
          flex-shrink: 0;
          font-size: 5rem;
          font-weight: 800;
          color: #f59a12;
          white-space: nowrap;
        }
        .item--eGZ {
          color: #f59a12;
          font-family: NanumGothic, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 5rem;
          font-weight: 800;
          line-height: 1.2575;
        }
      }
      .group-297-Ycq {
        width: 77.2rem;
        height: 5rem;
        position: absolute;
        left: 61.1rem;
        top: 3.6rem;

        .group-3-Tjo {
          display: flex;
          align-items: center;
          width: 77.2rem;
          height: 5rem;
          position: absolute;
          left: 0;
          top: 0;

          .rectangle-16-stroke-CSV {
            object-fit: contain;
            vertical-align: top;
            border-radius: 1rem;
            flex-shrink: 0;
            margin-right: 2.047rem;
            width: 69.6758rem;
            height: 5rem;
          }
          .rectangle-20-he9 {
            flex-shrink: 0;
            margin-top: 0rem;
            width: 5.4772rem;
            height: 4.589rem;
            border: solid 0.25rem #f59a12;
            box-sizing: border-box;
            background-color: #f59a12;
            border-radius: 0.5rem;
          }
        }
        .image-2-QoT {
          object-fit: cover;
          vertical-align: top;
          width: 3.3rem;
          height: 3.4rem;
          position: absolute;
          left: 72.9rem;
          top: 0.9rem;
        }
      }
      .auto-group-pgab-w2h {
        height: 2.6rem;
        position: absolute;
        left: 60.6693rem;
        top: 23.8267rem;
        display: flex;
        align-items: center;
        width: 76.8984rem;

        .item--SVF {
          white-space: nowrap;
          flex-shrink: 0;
          font-weight: 700;
          color: rgba(0, 0, 0, 0.6000000238);
          font-size: 2rem;
          line-height: 1.2575;
          font-family: NanumGothic, 'Source Sans Pro';
          margin-right: 65.2984rem;
          display: flex;
        }
        .item--jDT {
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.2575;
          color: rgba(0, 0, 0, 0.6000000238);
          font-family: NanumGothic, 'Source Sans Pro';
        }
      }
    }
    .item--2CZ {
      width: 48.2rem;
      position: absolute;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      border: solid 0 #000000;
      box-sizing: border-box;
      height: 158.7rem;
      left: 0;
      top: 0;

      .item--Xf7 {
        width: 46.6rem;
        height: 79.9rem;
        align-items: center;
        display: flex;
        flex-direction: column;

        .item--eDw {
          letter-spacing: -0.0408rem;
          color: #000000;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #fbd8a4;
          line-height: 2.1739130435;
          padding: 1rem 1.6rem 0rem 1.6rem;
          display: flex;
          font-weight: 500;
          white-space: nowrap;
          margin-bottom: 0.1666rem;
          flex-shrink: 0;
          width: 100%;
          font-size: 2.3rem;
          font-family: Abhaya Libre Medium, 'Source Sans Pro';
          box-sizing: border-box;
        }
        .item--42m {
          margin: 0rem 8.8rem 4.883rem 3.5rem;
          width: calc(100% - 12.3rem);
          height: 43.9rem;
          position: relative;
          border-bottom: solid 0.1rem #000000;
          box-sizing: border-box;
          flex-shrink: 0;

          .auto-group-5aak-7mj {
            width: 34.3rem;
            left: 0;
            top: 0;
            display: flex;
            font-weight: 500;
            white-space: nowrap;
            box-sizing: border-box;
            padding: 3.3rem 0rem 1.1rem 0rem;
            letter-spacing: -0.0408rem;
            height: 6.6rem;
            position: absolute;
            line-height: 1.2941176471;
            font-family: Abhaya Libre Medium, 'Source Sans Pro';
            font-size: 1.7rem;
            color: #000000;
          }
          .line-1-kZo {
            width: 34.3rem;
            height: 0.1rem;
            position: absolute;
            left: 0;
            top: 6.6rem;
            background-color: #000000;
          }
          .placeholder-label-5c5 {
            width: 8.6rem;
            position: absolute;
            top: 7.7rem;
            font-weight: 400;
            line-height: 2.3529411765;
            letter-spacing: -0.0408rem;
            white-space: nowrap;
            height: 4rem;
            left: 0;
            display: flex;
            font-size: 1.7rem;
            color: #000000;
            font-family: Abel, 'Source Sans Pro';
          }
          .line-2-ZGM {
            top: 12.8rem;
            background-color: #000000;
            width: 34.3rem;
            height: 0.1rem;
            position: absolute;
            left: 0;
          }
          .placeholder-label-Hy3 {
            position: absolute;
            left: 0;
            top: 13.9rem;
            display: flex;
            font-weight: 400;
            letter-spacing: -0.0408rem;
            font-family: Abel, 'Source Sans Pro';
            width: 7.6rem;
            height: 4rem;
            font-size: 1.7rem;
            line-height: 2.3529411765;
            color: #000000;
            white-space: nowrap;
          }
          .line-3-zMf {
            width: 34.3rem;
            height: 0.1rem;
            position: absolute;
            left: 0;
            top: 19rem;
            background-color: #000000;
          }
          .placeholder-label-8Ts {
            font-family: Abhaya Libre Medium, 'Source Sans Pro';
            white-space: nowrap;
            width: 7.4rem;
            height: 4rem;
            display: flex;
            font-size: 1.7rem;
            font-weight: 500;
            color: #000000;
            position: absolute;
            left: 0;
            top: 20.1rem;
            line-height: 2.3529411765;
            letter-spacing: -0.0408rem;
          }
          .line-4-prV {
            width: 34.3rem;
            height: 0.1rem;
            position: absolute;
            left: 0;
            top: 25.2rem;
            background-color: #000000;
          }
          .placeholder-label-kVF {
            left: 0;
            top: 26.3rem;
            display: flex;
            font-size: 1.7rem;
            line-height: 2.3529411765;
            letter-spacing: -0.0408rem;
            color: #000000;
            position: absolute;
            white-space: nowrap;
            font-family: Abel, 'Source Sans Pro';
            height: 4rem;
            font-weight: 400;
            width: 6.7rem;
          }
          .line-5-Scy {
            left: 0;
            top: 31.4rem;
            background-color: #000000;
            width: 34.3rem;
            height: 0.1rem;
            position: absolute;
          }
          .placeholder-label-BKf {
            position: absolute;
            font-size: 1.7rem;
            white-space: nowrap;
            height: 4rem;
            left: 0;
            top: 32.5rem;
            display: flex;
            font-weight: 400;
            line-height: 2.3529411765;
            letter-spacing: -0.0408rem;
            font-style: italic;
            color: #000000;
            width: 7.8rem;
            font-family: ABeeZee, 'Source Sans Pro';
          }
          .line-6-5A9 {
            width: 34.3rem;
            height: 0.1rem;
            position: absolute;
            left: 0;
            top: 37.6rem;
            background-color: #000000;
          }
          .placeholder-label-1Jh {
            left: 0;
            display: flex;
            font-style: italic;
            position: absolute;
            line-height: 2.3529411765;
            color: #000000;
            font-family: ABeeZee, 'Source Sans Pro';
            font-weight: 400;
            letter-spacing: -0.0408rem;
            white-space: nowrap;
            top: 38.7rem;
            height: 4rem;
            font-size: 1.7rem;
            width: 7.8rem;
          }
        }
        .item--GkR {
          margin-bottom: 3.3508rem;
          font-family: Abhaya Libre Medium, 'Source Sans Pro';
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.8rem 1.6rem 0rem 1.6rem;
          letter-spacing: -0.0408rem;
          white-space: nowrap;
          width: 100%;
          display: flex;
          font-size: 2.3rem;
          font-weight: 500;
          color: #000000;
          background-color: #fbd8a4;
          line-height: 2.1739130435;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        }
        .item--fnZ {
          width: calc(100% - 12.3rem);
          display: flex;
          flex-direction: column;
          border-bottom: solid 0.1rem #000000;
          flex-shrink: 0;
          margin: 0rem 8.8rem 0rem 3.5rem;
          box-sizing: border-box;
          padding-bottom: 1.2rem;

          .placeholder-label-KMK {
            letter-spacing: -0.0408rem;
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.1rem;
            font-weight: 500;
            line-height: 1.2941176471;
            color: #000000;
            font-family: Abhaya Libre Medium, 'Source Sans Pro';
            display: flex;
            font-size: 1.7rem;
          }
          .line-1-2Fj {
            flex-shrink: 0;
            margin-bottom: 1rem;
            width: 100%;
            height: 0.1rem;
            background-color: #000000;
          }
          .placeholder-label-mDK {
            color: #000000;
            font-family: Abel, 'Source Sans Pro';
            font-size: 1.7rem;
            font-weight: 400;
            line-height: 2.3529411765;
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.1rem;
            display: flex;
            letter-spacing: -0.0408rem;
          }
          .line-2-5zh {
            margin-bottom: 1rem;
            width: 100%;
            height: 0.1rem;
            background-color: #000000;
            flex-shrink: 0;
          }
          .placeholder-label-dFX {
            font-size: 1.7rem;
            font-weight: 400;
            line-height: 2.3529411765;
            letter-spacing: -0.0408rem;
            white-space: nowrap;
            margin-bottom: 1.1rem;
            display: flex;
            color: #000000;
            font-family: Abel, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
      }
    }
  }
}
