
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 53.3rem;
}.item--31T {
  width: 100%;
  height: 79.9rem;

  .group-501-yfo {
    width: 100%;
    height: 100%;
    border-radius: 1rem;

    .image-1807-YD7 {
      border-radius: 1rem;
      width: 53.3rem;
      height: 79.9rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
}
