
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 194.9rem;
}.item--gim {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;

  .nav-9MT {
    border: solid 0.1rem #dadada;
    box-sizing: border-box;
    flex-shrink: 0;
    margin: 0rem 2.5rem 7rem 0rem;
    width: 192rem;
    height: 30.3rem;
    position: relative;

    .rectangle-548-ENu {
      border: solid 0.25rem #76dcb0;
      box-sizing: border-box;
      background-color: #ffffff;
      width: 14.2rem;
      height: 12.926rem;
      position: absolute;
      left: 151.3rem;
      top: 7.6432rem;
    }
    .item--7Sh {
      align-items: center;
      white-space: nowrap;
      height: 3.1rem;
      font-size: 2.4rem;
      font-weight: 700;
      font-family: NanumGothic, 'Source Sans Pro';
      position: absolute;
      justify-content: center;
      line-height: 1.2575;
      display: flex;
      color: #76dcb0;
      width: 4.4rem;
      left: 156.2333rem;
      top: 12.6124rem;
    }
    .banner-NdX {
      height: 28.1rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #ffffff;
      width: 192rem;
    }
    .item--7b7 {
      font-weight: 700;
      line-height: 1.2575;
      font-family: NanumGothic, 'Source Sans Pro';
      left: 126.25rem;
      height: 3.1rem;
      top: 19.884rem;
      font-size: 2.4rem;
      width: 5.8rem;
      align-items: center;
      white-space: nowrap;
      position: absolute;
      justify-content: center;
      color: #666666;
      display: flex;
    }
    .item--MEZ {
      height: 3.1rem;
      font-family: NanumGothic, 'Source Sans Pro';
      display: flex;
      justify-content: center;
      line-height: 1.2575;
      white-space: nowrap;
      position: absolute;
      top: 19.7716rem;
      font-size: 2.4rem;
      width: 5.8rem;
      left: 107.9667rem;
      align-items: center;
      font-weight: 700;
      color: #666666;
    }
    .item--dC5 {
      color: #666666;
      line-height: 1.2575;
      left: 89.5667rem;
      top: 19.7716rem;
      align-items: center;
      font-size: 2.4rem;
      width: 5.8rem;
      position: absolute;
      display: flex;
      font-weight: 700;
      font-family: NanumGothic, 'Source Sans Pro';
      white-space: nowrap;
      height: 3.1rem;
      justify-content: center;
    }
    .item--5Zs {
      width: 4.4rem;
      height: 3.1rem;
      top: 19.6592rem;
      justify-content: center;
      left: 74.45rem;
      align-items: center;
      font-size: 2.4rem;
      white-space: nowrap;
      font-family: NanumGothic, 'Source Sans Pro';
      position: absolute;
      display: flex;
      font-weight: 700;
      line-height: 1.2575;
      color: #666666;
    }
    .item--wMB {
      display: flex;
      align-items: center;
      font-size: 2.4rem;
      color: #666666;
      white-space: nowrap;
      height: 3.1rem;
      top: 19.6592rem;
      left: 59rem;
      width: 5.8rem;
      position: absolute;
      line-height: 1.2575;
      font-family: NanumGothic, 'Source Sans Pro';
      justify-content: center;
      font-weight: 700;
    }
    .rectangle-563-auw {
      position: absolute;
      left: 167rem;
      top: 15rem;
      border: solid 0.2rem #dadada;
      box-sizing: border-box;
      background-color: #ffffff;
      width: 25rem;
      height: 15.3rem;
    }
    .group-1-4aD {
      flex-direction: column;
      width: 6.1rem;
      height: 8.8rem;
      position: absolute;
      left: 174.7rem;
      top: 18.848rem;
      align-items: flex-end;
      display: flex;

      .item--mUd {
        display: flex;
        color: #666666;
        flex-shrink: 0;
        margin-bottom: 3.6rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2575;
        font-family: NanumGothic, 'Source Sans Pro';
        white-space: nowrap;
      }
      .item--fK7 {
        margin-right: 0.2rem;
        font-size: 2rem;
        color: #f59a12;
        font-family: NanumGothic, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-weight: 400;
        line-height: 1.2575;
      }
    }
    .avatar-9k5 {
      left: 175.5rem;
      top: 5.1704rem;
      object-fit: contain;
      vertical-align: top;
      border-radius: 5.3333rem;
      width: 8rem;
      height: 8rem;
      position: absolute;
    }
    .group-102-46M {
      width: 18.7rem;
      height: 9.7rem;
      position: absolute;
      left: 7.5rem;
      top: 4.3rem;
      display: flex;
      align-items: center;

      .item-1-kzm {
        flex-shrink: 0;
        width: 9.6rem;
        height: 9.7rem;
        object-fit: cover;
        vertical-align: top;
      }
      .item--UA5 {
        margin-top: 0.6rem;
        font-family: NanumGothic, 'Source Sans Pro';
        color: #f59a12;
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 5rem;
        font-weight: 800;
        line-height: 1.2575;
      }
    }
    .group-297-NFT {
      height: 7.7rem;
      position: absolute;
      left: 47.4rem;
      top: 5.6rem;
      width: 99.6082rem;

      .group-3-tDo {
        object-fit: contain;
        vertical-align: top;
        width: 99.6082rem;
        height: 7.7rem;
        position: absolute;
        left: 0;
        top: 0;
      }
      .image-2-whs {
        vertical-align: top;
        width: 4.5rem;
        height: 4.5rem;
        position: absolute;
        left: 93.9288rem;
        top: 1.7986rem;
        object-fit: cover;
      }
    }
    .group-500-4Gh {
      height: 4.8rem;
      top: 18.8rem;
      border: solid 1.6rem #000000;
      box-sizing: border-box;
      width: 6rem;
      left: 7rem;
      background-color: #ffffff;
      padding: 1rem 0.875rem;
      position: absolute;

      .group-3-wrH {
        width: 4.25rem;
        height: 2.8rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
  .auto-group-kcqm-dz1 {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 52rem 0.863rem 29.1rem;
    width: calc(100% - 81.1rem);

    .avatar-jGM {
      height: 14.6rem;
      object-fit: contain;
      vertical-align: top;
      border-radius: 10rem;
      flex-shrink: 0;
      margin: 3.1rem 5.4rem 0rem 0rem;
      width: 15rem;
    }
    .item--Rey {
      font-family: NanumGothic, 'Source Sans Pro';
      flex-shrink: 0;
      display: flex;
      font-size: 4rem;
      line-height: 1.2575;
      white-space: nowrap;
      align-items: baseline;
      margin: 4rem 46.5rem 0rem 0rem;
      font-weight: 700;
      color: #f59a12;

      .item--Rey-sub-0 {
        color: #666666;
        font-family: NanumGothic, 'Source Sans Pro';
        font-size: 3.5rem;
        font-weight: 700;
        line-height: 1.2575;
      }
      .item--Rey-sub-1 {
      }
      .item--Rey-sub-2 {
        font-size: 3.5rem;
        font-weight: 700;
        line-height: 1.2575;
        color: #666666;
        font-family: NanumGothic, 'Source Sans Pro';
      }
    }
    .auto-group-mxbd-5mT {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-bottom: 1.4275rem;
      width: 25.1rem;

      .item--oxM {
        margin-bottom: 2.4107rem;
        width: 100%;
        height: 6.8706rem;
        position: relative;
        border-radius: 1rem;
        flex-shrink: 0;

        .rectangle-554-Kfo {
          width: 24.7138rem;
          height: 6.8706rem;
          position: absolute;
          left: 0.3862rem;
          top: 0;
          background-color: #f59a12;
          border-radius: 1rem;
        }
        .item--T1K {
          height: 3.1rem;
          position: absolute;
          display: flex;
          justify-content: center;
          color: #ffffff;
          font-weight: 700;
          line-height: 1.2575;
          font-family: NanumGothic, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 2.4rem;
          width: 10.5rem;
          left: 6.8656rem;
          top: 1.8853rem;
          align-items: center;
        }
      }
      .item--7bf {
        line-height: 1.2575;
        flex-shrink: 0;
        font-family: NanumGothic, 'Source Sans Pro';
        background-color: #f59a12;
        border-radius: 1rem;
        width: calc(100% - 0.3862rem);
        display: flex;
        font-size: 2.4rem;
        white-space: nowrap;
        margin: 0rem 0.193rem 0rem 0.193rem;
        justify-content: center;
        font-weight: 700;
        height: 6.9911rem;
        align-items: center;
        color: #ffffff;
      }
    }
  }
  .item--LDX {
    width: calc(100% - 169.9931rem);
    height: 6.9911rem;
    position: relative;
    border-radius: 1rem;
    flex-shrink: 0;
    margin: 0rem 52.193rem 1.946rem 117.8rem;

    .rectangle-556-puP {
      border-radius: 1rem;
      width: 24.7138rem;
      height: 6.9911rem;
      position: absolute;
      left: 0.1931rem;
      top: 0;
      background-color: #f59a12;
    }
    .item--MPX {
      width: 10.5rem;
      position: absolute;
      justify-content: center;
      color: #ffffff;
      left: 6.8656rem;
      display: flex;
      font-weight: 700;
      line-height: 1.2575;
      font-family: NanumGothic, 'Source Sans Pro';
      white-space: nowrap;
      height: 3.1rem;
      top: 2.488rem;
      align-items: center;
      font-size: 2.4rem;
    }
  }
  .auto-group-hmaf-ReH {
    margin: 0rem 0rem 7.15rem 2.9rem;
    width: 192rem;
    height: 55rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-550-j9B {
      vertical-align: top;
      width: 192rem;
      height: 39.2rem;
      position: absolute;
      left: 0;
      top: 15.8rem;
      object-fit: contain;
    }
    .item--SpH {
      width: 36.4rem;
      height: 3.8rem;
      position: absolute;
      display: flex;
      font-weight: 700;
      line-height: 1.2575;
      color: #666666;
      left: 113.9rem;
      top: 1.35rem;
      font-size: 3rem;
      font-family: NanumGothic, 'Source Sans Pro';
      white-space: nowrap;
    }
    .it-5sF {
      font-weight: 400;
      width: 2rem;
      height: 3.2rem;
      position: absolute;
      left: 106rem;
      display: flex;
      white-space: nowrap;
      top: 10.4rem;
      font-size: 2.5rem;
      line-height: 1.2575;
      color: #666666;
      font-family: NanumGothic, 'Source Sans Pro';
    }
    .item--CS5 {
      font-weight: 400;
      left: 103.4rem;
      top: 34.9rem;
      font-size: 2.5rem;
      display: flex;
      line-height: 1.2575;
      color: #666666;
      font-family: NanumGothic, 'Source Sans Pro';
      white-space: nowrap;
      width: 4.6rem;
      height: 3.2rem;
      position: absolute;
    }
    .item--u5b {
      top: 41.05rem;
      font-size: 2.5rem;
      font-weight: 400;
      line-height: 1.2575;
      white-space: nowrap;
      width: 4.6rem;
      height: 3.2rem;
      display: flex;
      color: #666666;
      font-family: NanumGothic, 'Source Sans Pro';
      position: absolute;
      left: 103.4rem;
    }
    .item--z73 {
      top: 28.8rem;
      display: flex;
      font-size: 2.5rem;
      line-height: 1.2575;
      width: 4.6rem;
      left: 103.4rem;
      font-weight: 400;
      color: #666666;
      font-family: NanumGothic, 'Source Sans Pro';
      white-space: nowrap;
      height: 3.2rem;
      position: absolute;
    }
    .item--H69 {
      font-family: NanumGothic, 'Source Sans Pro';
      width: 4.6rem;
      position: absolute;
      top: 22.7rem;
      display: flex;
      line-height: 1.2575;
      white-space: nowrap;
      height: 3.2rem;
      left: 103.4rem;
      font-size: 2.5rem;
      font-weight: 400;
      color: #666666;
    }
    .item--gPB {
      color: #666666;
      font-family: NanumGothic, 'Source Sans Pro';
      left: 102.2rem;
      font-size: 2.5rem;
      position: absolute;
      top: 16.55rem;
      display: flex;
      font-weight: 400;
      line-height: 1.2575;
      white-space: nowrap;
      width: 6.1rem;
      height: 3.2rem;
    }
    .image-1802-nBK {
      height: 35.2rem;
      position: relative;
      left: 25.9rem;
      top: 9.7rem;
      background-size: 186.164% 98.246%;
      background-position: 0 0;
      background-image: url('REPLACE_IMAGE:51e7be0b532a5892490862203f055f4483eb528e');
      width: 39.5rem;
    }
    .group-357-fF7 {
      top: 9.7375rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 35.7rem;
      height: 35.193rem;
      position: absolute;
      left: 113.9rem;

      .rectangle-567-BDT {
        flex-shrink: 0;
        width: 100%;
        height: 4.3991rem;
        background-color: #ec677b;
      }
      .auto-group-tvd5-7so {
        flex-shrink: 0;
        box-sizing: border-box;
        padding-top: 1.7597rem;
        width: 100%;
        display: flex;
        flex-direction: column;

        .rectangle-568-3mT {
          background-color: rgba(236, 103, 123, 0.5400000215);
          flex-shrink: 0;
          margin-bottom: 1.7597rem;
          width: 23.7479rem;
          height: 4.3991rem;
        }
        .rectangle-569-mBf {
          height: 4.3991rem;
          background-color: #fec52e;
          flex-shrink: 0;
          margin-bottom: 1.7596rem;
          width: 23.7479rem;
        }
        .rectangle-570-hb7 {
          margin-bottom: 1.7597rem;
          width: 17.9672rem;
          height: 4.3991rem;
          background-color: #66b6e3;
          flex-shrink: 0;
        }
        .rectangle-571-dDs {
          margin-bottom: 1.7597rem;
          width: 10.2335rem;
          height: 4.3991rem;
          background-color: rgba(102, 182, 227, 0.6700000167);
          flex-shrink: 0;
        }
        .rectangle-572-kZP {
          width: 7.1869rem;
          height: 4.3991rem;
          background-color: #76dcb0;
          flex-shrink: 0;
        }
      }
    }
    .line-47-Tih {
      left: 113.9rem;
      top: 7.5rem;
      background-color: #666666;
      width: 0.2rem;
      height: 38.5rem;
      position: absolute;
    }
    .line-48-Ad7 {
      width: 0.2rem;
      height: 38.1rem;
      position: absolute;
      left: 113.9rem;
      top: 7.9rem;
      background-color: #666666;
    }
    .item--gLZ {
      line-height: 1.2575;
      color: #666666;
      font-family: NanumGothic, 'Source Sans Pro';
      position: absolute;
      font-weight: 700;
      left: 14.4rem;
      top: 0;
      font-size: 3rem;
      width: 49.8rem;
      height: 7.6rem;
    }
  }
  .item--svq {
    display: flex;
    font-size: 3rem;
    font-weight: 700;
    color: #f59a12;
    white-space: nowrap;
    margin: 0rem 14rem 94.35rem 0rem;
    justify-content: center;
    line-height: 1.2575;
    font-family: NanumGothic, 'Source Sans Pro';
    flex-shrink: 0;
    align-items: center;
  }
  .footer-ZHs {
    margin-right: 2.9rem;
    width: 192rem;
    height: 30rem;
    position: relative;
    background-color: rgba(251, 216, 164, 0.8000000119);
    flex-shrink: 0;

    .item--5X7 {
      top: 8.6rem;
      display: flex;
      font-size: 1.5rem;
      line-height: 1.2575;
      color: #666666;
      white-space: nowrap;
      width: 13.9rem;
      height: 1.9rem;
      position: absolute;
      left: 31.8rem;
      font-weight: 400;
      font-family: NanumGothic, 'Source Sans Pro';
    }
    .item--X8D {
      position: absolute;
      display: flex;
      line-height: 1.2575;
      font-family: NanumGothic, 'Source Sans Pro';
      height: 1.9rem;
      left: 31.8rem;
      top: 11.4rem;
      font-size: 1.5rem;
      font-weight: 400;
      color: #666666;
      white-space: nowrap;
      width: 5.7rem;
    }
    .item-0000-0000-10-30-18-00-QC1 {
      font-weight: 400;
      color: #666666;
      font-family: NanumGothic, 'Source Sans Pro';
      white-space: nowrap;
      height: 1.9rem;
      position: absolute;
      left: 31.8rem;
      font-size: 1.5rem;
      width: 25.6rem;
      top: 14.2rem;
      display: flex;
      line-height: 1.2575;
    }
    .abcde1234-navercom-qRj {
      white-space: nowrap;
      display: flex;
      font-size: 1.5rem;
      font-weight: 400;
      left: 31.8rem;
      top: 17rem;
      line-height: 1.2575;
      color: #666666;
      font-family: NanumGothic, 'Source Sans Pro';
      width: 19rem;
      height: 1.9rem;
      position: absolute;
    }
    .copyright-aaaa-all-rights-reserved-W25 {
      color: #666666;
      width: 24rem;
      height: 1.9rem;
      position: absolute;
      font-size: 1.5rem;
      line-height: 1.2575;
      font-family: NanumGothic, 'Source Sans Pro';
      white-space: nowrap;
      left: 31.8rem;
      top: 19.8rem;
      display: flex;
      font-weight: 400;
    }
    .item--yRT {
      left: 31.8rem;
      top: 24.2rem;
      display: flex;
      font-size: 1.5rem;
      color: #666666;
      width: 12.6rem;
      height: 1.9rem;
      position: absolute;
      white-space: nowrap;
      font-weight: 400;
      line-height: 1.2575;
      font-family: NanumGothic, 'Source Sans Pro';
    }
    .group-101-dW1 {
      align-items: center;
      width: 7.8rem;
      height: 3.5rem;
      position: absolute;
      left: 27.8rem;
      top: 5rem;
      display: flex;

      .item-1-Yss {
        height: 3.5rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        width: 3.4rem;
      }
      .item--fhb {
        font-weight: 800;
        line-height: 1.2575;
        color: #f59a12;
        font-family: NanumGothic, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 2.4rem;
      }
    }
  }
}
