
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192.2rem;
}.item--3rq {
  box-sizing: border-box;
  position: relative;
  background-color: #ffffff;
  padding-bottom: 15.3rem;
  width: 100%;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;

  .nav-L5F {
    flex-shrink: 0;
    margin: 0rem 0.2rem 17.505rem 0rem;
    width: 192rem;
    height: 28.1rem;
    position: relative;
    border: solid 0.1rem #dadada;
    box-sizing: border-box;

    .item--EgR {
      width: 4.4rem;
      left: 156.2333rem;
      display: flex;
      line-height: 1.2575;
      top: 12.6124rem;
      font-family: NanumGothic, 'Source Sans Pro';
      height: 3.1rem;
      position: absolute;
      justify-content: center;
      color: #76dcb0;
      white-space: nowrap;
      align-items: center;
      font-size: 2.4rem;
      font-weight: 700;
    }
    .banner-7VK {
      top: 0;
      background-color: #ffffff;
      width: 192rem;
      height: 28.1rem;
      position: absolute;
      left: 0;
    }
    .item--4QZ {
      left: 126.25rem;
      height: 3.1rem;
      justify-content: center;
      color: #666666;
      font-family: NanumGothic, 'Source Sans Pro';
      white-space: nowrap;
      align-items: center;
      line-height: 1.2575;
      position: absolute;
      top: 19.884rem;
      display: flex;
      font-size: 2.4rem;
      font-weight: 700;
      width: 5.8rem;
    }
    .item--jmb {
      font-family: NanumGothic, 'Source Sans Pro';
      height: 3.1rem;
      justify-content: center;
      font-size: 2.4rem;
      white-space: nowrap;
      position: absolute;
      align-items: center;
      font-weight: 700;
      color: #666666;
      display: flex;
      left: 107.9667rem;
      top: 19.7716rem;
      line-height: 1.2575;
      width: 5.8rem;
    }
    .item--CfB {
      width: 5.8rem;
      align-items: center;
      justify-content: center;
      font-family: NanumGothic, 'Source Sans Pro';
      white-space: nowrap;
      height: 3.1rem;
      position: absolute;
      line-height: 1.2575;
      top: 19.7716rem;
      font-weight: 700;
      color: #666666;
      left: 89.5667rem;
      display: flex;
      font-size: 2.4rem;
    }
    .item--smK {
      width: 4.4rem;
      position: absolute;
      white-space: nowrap;
      left: 74.45rem;
      top: 19.6592rem;
      color: #666666;
      height: 3.1rem;
      font-family: NanumGothic, 'Source Sans Pro';
      font-weight: 700;
      line-height: 1.2575;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2.4rem;
    }
    .item--joX {
      line-height: 1.2575;
      left: 59rem;
      top: 19.6592rem;
      display: flex;
      align-items: center;
      height: 3.1rem;
      justify-content: center;
      font-size: 2.4rem;
      position: absolute;
      font-weight: 700;
      font-family: NanumGothic, 'Source Sans Pro';
      white-space: nowrap;
      width: 5.8rem;
      color: #666666;
    }
    .group-390-zzM {
      width: 17.5rem;
      height: 6.0534rem;
      position: absolute;
      left: 169.8rem;
      top: 6.1rem;
      border-radius: 1rem;
      box-sizing: border-box;
      padding: 0rem 0.2rem 0rem 0.3rem;

      .group-360-VRK {
        border-radius: 1rem;
        width: 100%;
        height: 100%;
        font-size: 2rem;
        color: #f59a12;
        border: solid 0.1rem #f59a12;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        font-weight: 700;
        font-family: NanumGothic, 'Source Sans Pro';
        align-items: center;
        line-height: 1.2575;
        white-space: nowrap;
        background-color: #ffffff;
      }
    }
    .group-297-8z5 {
      left: 47.4rem;
      top: 5.6rem;
      width: 99.6082rem;
      height: 7.7rem;
      position: absolute;

      .group-3-4cq {
        width: 99.6082rem;
        height: 7.7rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: contain;
        vertical-align: top;
      }
      .image-2-n33 {
        position: absolute;
        left: 93.9287rem;
        top: 1.7986rem;
        object-fit: cover;
        vertical-align: top;
        width: 4.5rem;
        height: 4.5rem;
      }
    }
    .group-102-Vi9 {
      top: 4.3rem;
      display: flex;
      align-items: center;
      width: 18.7rem;
      height: 9.7rem;
      position: absolute;
      left: 7rem;

      .item-1-cnm {
        height: 9.7rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        width: 9.6rem;
      }
      .item--wq3 {
        margin-top: 0.6rem;
        font-size: 5rem;
        font-weight: 800;
        line-height: 1.2575;
        color: #f59a12;
        display: flex;
        font-family: NanumGothic, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .group-500-rh7 {
      background-color: #ffffff;
      border: solid 1.6rem #000000;
      box-sizing: border-box;
      width: 6rem;
      top: 18.8rem;
      left: 7rem;
      padding: 1rem 0.875rem;
      height: 4.8rem;
      position: absolute;

      .group-3-NvM {
        width: 4.25rem;
        height: 2.8rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
  .item--UCh {
    margin: 0rem 7.2rem 6.395rem 0rem;
    display: flex;
    justify-content: center;
    font-family: NanumGothic, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    align-items: center;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.2575;
    color: #f59a12;
  }
  .auto-group-6ncp-ZV3 {
    width: calc(100% - 152rem);
    height: 7rem;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('REPLACE_IMAGE:34:1269');
    margin: 0rem 78.8rem 7.6rem 73.2rem;
    box-sizing: border-box;
    padding: 2rem 14.65rem 2rem 8.2rem;
    background-size: cover;

    .group-370-rDF {
      align-items: center;
      width: 100%;
      height: 100%;
      display: flex;

      .image-43-QVf {
        background-image: url('REPLACE_IMAGE:f2207f7464f86d30fdc4d575626ef074548a0f82');
        flex-shrink: 0;
        margin-right: 6.35rem;
        width: 3rem;
        height: 3rem;
        background-size: 148.276% 159.259%;
        background-position: -0.7241rem -0.8889rem;

        .image-43-QVf-bg {
          width: 3rem;
          height: 3rem;
          position: relative;
          background-image: url('REPLACE_IMAGE:f2207f7464f86d30fdc4d575626ef074548a0f82');
        }
      }
      .item--Tiq {
        justify-content: center;
        font-family: NanumGothic, 'Source Sans Pro';
        flex-shrink: 0;
        white-space: nowrap;
        display: flex;
        align-items: center;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.2575;
        color: #3a2929;
      }
    }
  }
  .auto-group-3u27-YEV {
    width: calc(100% - 152rem);
    height: 7rem;
    background-size: cover;
    box-sizing: border-box;
    padding: 2.5rem 13.75rem 1.5rem 8.2rem;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('REPLACE_IMAGE:34:1268');
    flex-shrink: 0;
    margin: 0rem 78.8rem 7.6rem 73.2rem;

    .group-502-e2d {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      .image-44-aS5 {
        width: 3rem;
        height: 3rem;
        background-size: 160% 156.863%;
        background-position: -0.9rem -1rem;
        background-image: url('REPLACE_IMAGE:296a8a3bc11de70230bc74e07587094031a82f40');
        flex-shrink: 0;
        margin-right: 7.25rem;

        .image-44-aS5-bg {
          width: 3rem;
          height: 3rem;
          position: relative;
          background-image: url('REPLACE_IMAGE:296a8a3bc11de70230bc74e07587094031a82f40');
        }
      }
      .item--dv9 {
        display: flex;
        justify-content: center;
        font-size: 2rem;
        font-weight: 700;
        flex-shrink: 0;
        align-items: center;
        line-height: 1.2575;
        color: #3a2929;
        font-family: NanumGothic, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
  }
  .auto-group-jpum-LZf {
    box-sizing: border-box;
    padding: 2rem 13.45rem 2rem 8.2rem;
    height: 7rem;
    background-position: center;
    background-image: url('REPLACE_IMAGE:34:1262');
    margin: 0rem 78.8rem 0rem 73.2rem;
    background-size: cover;
    background-repeat: no-repeat;
    flex-shrink: 0;
    width: calc(100% - 152rem);

    .group-503-Rr1 {
      height: 100%;
      display: flex;
      align-items: center;
      width: 100%;

      .image-45-bEh {
        background-image: url('REPLACE_IMAGE:46acdeb5012d1cb0431eb778e919563c9ab26197');
        flex-shrink: 0;
        margin-right: 5.15rem;
        width: 3rem;
        height: 3rem;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
      }
      .google--Xe9 {
        display: flex;
        justify-content: center;
        line-height: 1.2575;
        font-family: NanumGothic, 'Source Sans Pro';
        white-space: nowrap;
        align-items: center;
        font-size: 2rem;
        font-weight: 700;
        color: #3a2929;
        flex-shrink: 0;
      }
    }
  }
}
