
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 28.5rem;
}.frame-1027-4ed {
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #dee2e6;
  background-color: #ffffff;
  border-radius: 0.8rem;
  box-sizing: border-box;
  padding: 1.2rem 1.6rem 1.2rem 2.4rem;

  .type-sql-injection-b8m {
    font-size: 1.6rem;
    font-weight: 500;
    color: #54595e;
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0.1rem 17.9rem 0rem 0rem;
    text-align: right;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
  }
  .frame-1013-tdf {
    width: 2.4rem;
    height: 2.4rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
  }
}
