
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 28.5rem;
}.frame-596-fhs {
  width: 100%;
  display: flex;
  flex-direction: column;

  .status-d8u {
    font-weight: 600;
    line-height: 1.2125;
    color: #6c757d;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 0rem 1.1rem 2.4rem;
    font-size: 1.6rem;
  }
  .frame-591-wQV {
    flex-direction: column;
    flex-shrink: 0;
    width: 100%;
    align-items: center;
    display: flex;

    .frame-750-62V {
      padding: 1.6rem 19.1rem 1.5rem 2.4rem;
      width: 100%;
      display: flex;
      align-items: center;
      background-color: #ffffff;
      flex-shrink: 0;
      box-sizing: border-box;

      .frame-1022-Qos {
        margin: 0rem 1rem 0.1rem 0rem;
        width: 1.8rem;
        height: 1.8rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 0.6rem;
        flex-shrink: 0;
      }
      .open-Kvq {
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #17a2b8;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .frame-751-fUu {
      align-items: center;
      background-color: #f8f9fa;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.6rem 19.1rem 1.5rem 2.4rem;
      width: 100%;
      height: 5.1rem;
      display: flex;

      .frame-1021-Pvh {
        flex-shrink: 0;
        margin: 0.05rem 1rem 0.15rem 0rem;
        width: 1.8rem;
        height: calc(100% - 0.2rem);
        border: solid 0.2rem #ced4da;
        box-sizing: border-box;
        border-radius: 0.6rem;
      }
      .fixed-Ux9 {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #54595e;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
      }
    }
    .frame-752-RMb {
      width: 100%;
      height: 5.1rem;
      display: flex;
      align-items: center;
      background-color: #ffffff;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.6rem 14.6rem 1.5rem 2.4rem;

      .frame-1021-LjT {
        border-radius: 0.6rem;
        flex-shrink: 0;
        margin: 0.05rem 1rem 0.15rem 0rem;
        width: 1.8rem;
        height: calc(100% - 0.2rem);
        border: solid 0.2rem #ced4da;
        box-sizing: border-box;
      }
      .in-progress-2sB {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #6c757d;
      }
    }
    .frame-753-xF3 {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.6rem 17.9rem 1.5rem 2.4rem;
      width: 100%;
      height: 5.1rem;
      background-color: #ffffff;
      border-radius: 0.8rem;

      .frame-1021-TxV {
        box-sizing: border-box;
        border-radius: 0.6rem;
        flex-shrink: 0;
        margin: 0.05rem 1rem 0.15rem 0rem;
        width: 1.8rem;
        height: calc(100% - 0.2rem);
        border: solid 0.2rem #ced4da;
      }
      .closed-NZf {
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #6c757d;
        font-family: Inter, 'Source Sans Pro';
      }
    }
  }
}
