
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 41.6rem;
}.frame-1021-iHf {
  box-sizing: border-box;
  padding: 3.6rem;
  width: 100%;
  height: 44.7rem;
  border: solid 0.2rem #dee2e6;
  background-color: #ffffff;

  .frame-1016-QwB {
    width: 19.1rem;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;

    .auto-group-m5fu-985 {
      box-sizing: border-box;
      padding-bottom: 4rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .frame-591-5nR {
        margin-bottom: 4rem;
        width: 12.8rem;
        flex-shrink: 0;

        .sharp-edges-RbP {
          line-height: 1.2125;
          color: #54595e;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.5rem;
          font-size: 1.6rem;
          font-weight: 600;
        }
        .frame-591-YAD {
          width: 100%;
          display: flex;
          flex-direction: column;

          .frame-750-h37 {
            margin: 0rem 1rem 1.6rem 0rem;
            width: calc(100% - 1rem);
            display: flex;
            align-items: center;
            background-color: #ffffff;
            flex-shrink: 0;

            .frame-1021-buB {
              margin-right: 1rem;
              width: 1.8rem;
              height: 1.8rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .active-status-7Mj {
              text-align: center;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.2125;
              color: #17a2b8;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .frame-751-2Do {
            width: 100%;
            height: 1.8rem;
            display: flex;
            align-items: center;
            background-color: #ffffff;
            flex-shrink: 0;

            .frame-1021-NoT {
              margin-right: 1rem;
              width: 1.8rem;
              height: 100%;
              border: solid 0.2rem #ced4da;
              box-sizing: border-box;
              flex-shrink: 0;
            }
            .inactive-status-7W9 {
              text-align: center;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.2125;
              color: #6c757d;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
      }
      .frame-594-2d7 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .smooth-edges-n6V {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.5rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.2125;
          color: #54595e;
        }
        .frame-591-WYH {
          width: 8.2rem;
          row-gap: 1.6rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .frame-750-FEy {
            flex-shrink: 0;
            margin-right: 2.3rem;
            width: calc(100% - 2.3rem);
            display: flex;
            align-items: center;
            background-color: #ffffff;

            .frame-1022-bJq {
              height: 1.8rem;
              object-fit: contain;
              vertical-align: top;
              border-radius: 0.6rem;
              flex-shrink: 0;
              margin-right: 1rem;
              width: 1.8rem;
            }
            .high-vM7 {
              text-align: center;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.2125;
              color: #17a2b8;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .frame-751-rkZ {
            align-items: center;
            background-color: #ffffff;
            flex-shrink: 0;
            width: 100%;
            height: 1.8rem;
            display: flex;

            .frame-1021-R2y {
              margin-right: 1rem;
              width: 1.8rem;
              height: 100%;
              border: solid 0.2rem #ced4da;
              box-sizing: border-box;
              border-radius: 0.6rem;
              flex-shrink: 0;
            }
            .medium-9Ds {
              line-height: 1.2125;
              color: #6c757d;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              text-align: center;
              font-size: 1.4rem;
              font-weight: 500;
            }
          }
          .frame-752-sff {
            align-items: center;
            background-color: #ffffff;
            flex-shrink: 0;
            margin-right: 2.6rem;
            width: calc(100% - 2.6rem);
            height: 1.8rem;
            display: flex;

            .frame-1021-Cxq {
              flex-shrink: 0;
              margin-right: 1rem;
              width: 1.8rem;
              height: 100%;
              border: solid 0.2rem #ced4da;
              box-sizing: border-box;
              border-radius: 0.6rem;
            }
            .low-jSy {
              white-space: nowrap;
              flex-shrink: 0;
              text-align: center;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.2125;
              color: #6c757d;
              font-family: Inter, 'Source Sans Pro';
            }
          }
        }
      }
    }
    .frame-595-r1o {
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .transparent-background-ohj {
        line-height: 1.2125;
        color: #54595e;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 1.5rem;
        font-size: 1.6rem;
        font-weight: 600;
      }
      .frame-591-iJu {
        width: 7.5rem;
        flex-shrink: 0;

        .frame-750-4tZ {
          margin: 0rem 1.1rem 1.6rem 0rem;
          width: calc(100% - 1.1rem);
          display: flex;
          align-items: center;
          background-color: #ffffff;

          .frame-1021-52y {
            margin-right: 1rem;
            width: 1.8rem;
            height: 1.8rem;
            object-fit: contain;
            vertical-align: top;
            border-radius: 0.6rem;
            flex-shrink: 0;
          }
          .open-Q5F {
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.2125;
            color: #17a2b8;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
          }
        }
        .frame-751-wL5 {
          background-color: #ffffff;
          width: 100%;
          height: 1.8rem;
          display: flex;
          align-items: center;

          .frame-1021-VcV {
            border-radius: 0.6rem;
            flex-shrink: 0;
            margin-right: 1rem;
            width: 1.8rem;
            height: 100%;
            border: solid 0.2rem #ced4da;
            box-sizing: border-box;
          }
          .closed-puf {
            flex-shrink: 0;
            text-align: center;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.2125;
            color: #6c757d;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
    }
  }
}
