
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 247.2rem;
}.item--CnV {
  width: 100%;
  height: 117.6rem;
  position: relative;
}
.item--CnV .item--6cy {
  box-sizing: border-box;
  padding: 1.1rem 6.6rem 0.75rem 6.1rem;
  width: 18.4rem;
  height: 5rem;
  position: absolute;
  left: 139.2rem;
  top: 75.3rem;
  display: flex;
  align-items: center;
  border: solid 0.2rem #d9d9d9;
  background-color: #ffffff;
  border-radius: 1rem;
}
.item--CnV .item--6cy .check-ZmT {
  margin: 0rem 1.2rem 0.15rem 0rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--CnV .item--6cy .item--rVf {
  margin-top: 0.05rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #d9d9d9;
  font-family: NanumGothic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--CnV .group-510-Ke9 {
  box-sizing: border-box;
  padding: 1.1rem 9.2rem 0.9rem 6.2rem;
  width: 18.4rem;
  height: 5rem;
  position: absolute;
  left: 157.6rem;
  top: 75.3rem;
  border: solid 0.2rem #d9d9d9;
  background-color: #ffffff;
  border-radius: 1rem;
}
.item--CnV .group-510-Ke9 .check-pau {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
}
.item--CnV .item--8bb {
  width: 1.5rem;
  height: 3.1rem;
  position: absolute;
  left: 168rem;
  top: 76.65rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #d9d9d9;
  font-family: NanumGothic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--CnV .item--cFs {
  width: 2.5rem;
  height: 2.6rem;
  position: absolute;
  left: 139rem;
  top: 46.3rem;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #666666;
  font-family: NanumGothic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--CnV .item--hYD {
  width: 2.5rem;
  height: 2.6rem;
  position: absolute;
  left: 139rem;
  top: 59.1rem;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #666666;
  font-family: NanumGothic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--CnV .item--obF {
  width: 2.5rem;
  height: 2.6rem;
  position: absolute;
  left: 139.1rem;
  top: 71.6rem;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #666666;
  font-family: NanumGothic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--CnV .rectangle-559-uPP {
  width: 37rem;
  height: 5rem;
  position: absolute;
  left: 139rem;
  top: 49.4rem;
  border: solid 0.2rem #d9d9d9;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1rem;
}
.item--CnV .rectangle-560-ozZ {
  width: 37rem;
  height: 5rem;
  position: absolute;
  left: 139rem;
  top: 62.2rem;
  border: solid 0.2rem #d9d9d9;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1rem;
}
.item--CnV .item--81F {
  width: 2.5rem;
  height: 2.6rem;
  position: absolute;
  left: 139.1rem;
  top: 84.1rem;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #666666;
  font-family: NanumGothic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--CnV .rectangle-564-Cmo {
  width: 26.2rem;
  height: 5rem;
  position: absolute;
  left: 139rem;
  top: 87.2rem;
  border: solid 0.2rem #d9d9d9;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1rem;
}
.item--CnV .rectangle-565-Jpq {
  width: 10rem;
  height: 5rem;
  position: absolute;
  left: 166rem;
  top: 87.2rem;
  border: solid 0.2rem #d9d9d9;
  box-sizing: border-box;
  background-color: #ebebeb;
  border-radius: 1rem;
}
.item--CnV .item--DB7 {
  width: 2.5rem;
  height: 2.6rem;
  position: absolute;
  left: 169.1rem;
  top: 88.4rem;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #b5b5b5;
  font-family: NanumGothic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--CnV .avatar-i7s {
  width: 15rem;
  height: 15.0006rem;
  position: absolute;
  left: 150rem;
  top: 26.1rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 2rem;
}
.item--CnV .icon-edit-qCV {
  width: 2.9344rem;
  height: 2.9344rem;
  position: absolute;
  left: 162.8917rem;
  top: 39.574rem;
  object-fit: contain;
  vertical-align: top;
}
.item--CnV .item--9ys {
  width: 12.7rem;
  height: 4.5rem;
  position: absolute;
  left: 151.15rem;
  top: 9.95rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #f59a12;
  font-family: NanumGothic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--CnV .group-359-qLu {
  width: 17rem;
  height: 6.3rem;
  position: absolute;
  left: 139.1rem;
  top: 104.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: NanumGothic, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #f59a12;
  border-radius: 1rem;
}
.item--CnV .rectangle-562-gsK {
  width: 17rem;
  height: 6.3rem;
  position: absolute;
  left: 158.9rem;
  top: 104.5rem;
  border: solid 0.1rem #f59a12;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1rem;
}
.item--CnV .item--BZB {
  width: 2.9rem;
  height: 3.1rem;
  position: absolute;
  left: 165.9rem;
  top: 106.15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #f59a12;
  font-family: NanumGothic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--CnV .rectangle-563-sB7 {
  width: 37rem;
  height: 5rem;
  position: absolute;
  left: 139rem;
  top: 94.2rem;
  border: solid 0.2rem #d9d9d9;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1rem;
}
.item--CnV .footer-yjw {
  width: 192rem;
  height: 29.1rem;
  position: absolute;
  left: 0;
  top: 63.7rem;
  background-color: rgba(251, 216, 164, 0.8000000119);
}
.item--CnV .footer-yjw .item--K37 {
  width: 13.9rem;
  height: 1.9rem;
  position: absolute;
  left: 31.8rem;
  top: 8.3135rem;
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #666666;
  font-family: NanumGothic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--CnV .footer-yjw .item--NXB {
  width: 5.7rem;
  height: 1.9rem;
  position: absolute;
  left: 31.8rem;
  top: 11.0295rem;
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #666666;
  font-family: NanumGothic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--CnV .footer-yjw .item-0000-0000-10-30-18-00-qff {
  width: 25.6rem;
  height: 1.9rem;
  position: absolute;
  left: 31.8rem;
  top: 13.7455rem;
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #666666;
  font-family: NanumGothic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--CnV .footer-yjw .abcde1234-navercom-ssF {
  width: 19rem;
  height: 1.9rem;
  position: absolute;
  left: 31.8rem;
  top: 16.4615rem;
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #666666;
  font-family: NanumGothic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--CnV .footer-yjw .copyright-aaaa-all-rights-reserved-xth {
  width: 24rem;
  height: 1.9rem;
  position: absolute;
  left: 31.8rem;
  top: 19.1775rem;
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #666666;
  font-family: NanumGothic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--CnV .footer-yjw .item--eWd {
  width: 12.6rem;
  height: 1.9rem;
  position: absolute;
  left: 31.8rem;
  top: 23.4455rem;
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #666666;
  font-family: NanumGothic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--CnV .footer-yjw .group-101-K6y {
  width: 7.8rem;
  height: 3.395rem;
  position: absolute;
  left: 27.8rem;
  top: 4.85rem;
  display: flex;
  align-items: center;
}
.item--CnV .footer-yjw .group-101-K6y .item-1-SBb {
  width: 3.4rem;
  height: 3.395rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--CnV .footer-yjw .group-101-K6y .item--NL9 {
  margin-top: 0rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #f59a12;
  font-family: NanumGothic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
