
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 73.3rem;
}.item--vjT {
  box-sizing: border-box;
  padding: 9.8rem 14.1rem 9.8rem 14.2rem;
  width: 100%;
  height: 69.8rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.item--vjT .item-1-csB {
  width: 45rem;
  height: 50.2rem;
  object-fit: cover;
  vertical-align: top;
}
